.HorizontalNode {
  display: flex;
  background-color: var(--grey-dark-faded);
  font-size: 0.7vw;
  overflow-y: hidden;
  overflow: scroll;
  margin-top: 10px;
  border-radius: --node-border-radius;
  padding: 5px 10px;
  color: white !important;
  cursor: pointer;
}
.member-name {
  margin: 10px;
}
.highlighted-text {
  color: white;
  white-space: nowrap;
  font-size: 13px;
}

.HorizontalNode::-webkit-scrollbar {
  height: 0px;
}

.HorizontalNode::-webkit-scrollbar-track {
  border-radius: --node-border-radius;
}

.HorizontalNode::-webkit-scrollbar-thumb {
  background: rgba(191, 191, 191, 0.35);
}

.pipe-sign {
  width: 1px;
  height: 20px;
  background-color: rgba(255,255,255, 0.3);
  margin: 0 10px;
}
