* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #1388c9;
  --secondary-color: #1388c9;
  --secondary-color-faded: rgba(19, 136, 201, 0.9);
  --tertiary-color: rgb(0, 177, 205);
  --grey-light: rgb(191, 191, 191);
  --grey-dark: rgb(92, 105, 116);
  --grey-dark-faded: rgba(92, 105, 116, 0.7);
  --node-border-radius: 2px;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f5f5f5;
}

.back-btn {
  margin: 5px;
  margin-left: 20px;
  position: absolute;
  z-index: 1;
  pointer-events: all;
}

.welcome-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: #006791;
}

.leaf-member-name {
  white-space: normal !important;
  height: auto !important;
  padding: 3px 0 !important;
}
